name: Build and push

on:
  push:
    branches:
      - main
    tags:
      - '**'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      -
        name: Build and push latest
        if: ${{ startsWith(github.ref, 'refs/heads/') }}
        id: docker_build_latest
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: lpeabody/phpcs-drupal:latest
      -
        name: Get the version
        id: get_version
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      -
        name: Build and push tag
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        id: docker_build_tag
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: lpeabody/phpcs-drupal:${steps.get_version.outputs.VERSION}
          build-args:
            - CODER_VERSION=${steps.get_version.outputs.VERSION}
      -
        name: Latest image digest
        if: ${{ startsWith(github.ref, 'refs/heads/') }}
        run: echo ${{ steps.docker_build_latest.outputs.digest }}
      -
        name: Tagged image digest
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: echo ${{ steps.docker_build_tag.outputs.digest }}
